/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS*/
*,
*::before,
*::after,{
  box-sizing: border-box;
}
html{
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: steelblue;
	font-weight: 600;
}

h1{
  font-size: 3em;
  margin: 0.5em;
  text-align: center;
}
h3{
  font-size: 1.5em;
  margin: 0.5em;
  text-align: center;
	color: red;
}
p{
  font-size: 1.25em;
  margin: 0.2em;
  text-align: center;
}
.active{
	background-color: steelblue;
	color: whitesmoke;
	padding: 5px;
	border-radius: 5px;
}
.displayNone{
	display: none;
}
.options{
	text-align: center;
	padding: 0.6em;
	font-size: 2em;
}
.options > span{
	border: 2px solid steelblue;
	border-radius: 5px;
}
.options > span:hover{
	cursor: pointer;, cursor: hand;
}

#outside{
width: 70vmin;
height: 70vmin;
position: relative;
display: block;
margin: auto;
}

#outside > div {
  background-color: steelblue;
	border-radius: 10px;
  width: 30%;
  height: 30%;
  margin-left: 2%;
  margin-top: 2%;
  display: inline-block;
}
.x{
  background-image: url(http://www.icone-png.com/png/45/45292.png);
  background-size: cover;
}
.o{
  background-image: url(http://icons.webpatashala.com/Icons/Icons8-Metro-Style-Icons/Png/O-512-icon-201310542.PNG);
  background-size: cover;
}

@media screen and (aspect-ratio: 16/9) {
  #outside{
  background-color: blue;
  width: 45vw;
  height: 45vw;
  position: relative;
  display: inline-block;
  }
}
@media screen and (aspect-ratio: 9/16) {
  #outside{
  background-color: blue;
  width: 80vw;
  height: 80vw;
  position: absolute;
  display: inline-block;
  margin-left: 5vw;
  bottom: 5vw;
  }
}
